---
layout: style
---

header .vertical-center {
  position: absolute;
  top:50%;
  left: 0%;
  right: 0%;
  transform:translate(0%, -50%);
  -webkit-transform:translate(0%, -50%);
  display: block;
  /*background: rgba(0,0,0, 0.5);*/
}


.intro-heading {
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
    display: block;
    display: block;
}

  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.underline {
  display: inline-block;
  position: relative;
  padding-bottom: 4px;
  margin-bottom: 10px;
}
.underline:after {
  position: absolute;
  content: '';
  bottom: -2px;
  left: 0px;
  height: 2px;
  width: 0%;
  background-color: white;
  animation: underline 2s; /* remove infinite if you want only once */
  animation: underline 2s forwards;
  -webkit-animation: underline 2s forwards; /* for less modern browsers */
}
@keyframes underline {
  to {
    width: 100%;
  }
}